.flex-box {
  padding: 0;
}

.flex-inherit {
  display: inherit;
}

.light-blue {
  background-color: #0081b1;
}

.grey-text {
  color: ##949494;
  display: flex;
}

.project-img {
  max-width: 300px;
}

.white-text {
  font-weight: lighter;
}

#map {
  height: 250px;
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 750px) {
  #map {
    height: 400px;
  }
}
