/** {
  outline: 1px solid red !important;
}
*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry,
.online-entry {
  padding: 0 5%;
}

.work-entry{
  padding-bottom: 2%;
}
h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: block;
  text-align: center;
}


h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
  font-weight: 400;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: center;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  text-align: center;

}

.work-descriptWidth {
  max-width: 100%;
  text-align: center;
  padding: 0% 5%;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#workExperience {
  padding-bottom: 3%,
}

.center-text {
  text-align: center;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}


#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}


.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.role-formatting {
  display: block;
  color: darkgray;
  font-size: xx-small;
}

img {
  padding: 10px;
  width: 100%
}

span {
  padding: 10px;
  color: white;
  text-align: right;
}

#lets-connect {
  text-align: center;
}

#map {
  display: block;
  height: 90%;
  margin: 0 10%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}


/* Media queries to handle various device widths */

@media only screen and (min-width: 430px) {
  #name {
    font-size: 80px;
  }
  h2 {
    font-size: 40px;
    padding: 27px;
  }
}

@media only screen and (max-width: 770px) {
  #projectsRow {
    flex-wrap: wrap;
    width: 100%;
  }
  .project-entry {
    padding: 2.5% 5%;
  }
  img {
    max-width: 325px;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

@media only screen and (max-width: 1439px) {
  #skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
