/* zocial */
@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-"]:before {
	font-family: 'zocial', sans-serif;
}

/* general styling tags */
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	font-family: "Raleway", serif;
	font-size: 14px;
}

h1 {
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 5px;
	color: white;
	line-height: 48px;
	display: inline;
	text-shadow: 3px 3px 5px #59888d;
}

h2 {
	font-weight: bold;
	font-size: 24px;
	color: #9bb5b7;
	line-height: 29px;
	padding: 10px;
	text-align: center;
}

h3 {
	font-style: italic;
	font-size: 20px;
	color: #27676c;
	line-height: 22px;
}

h4 {
	font-size: 14px;
	color: #4a4a4a;
	line-height: 17px;
}

h2,
h3,
h4,
h5 {
	letter-spacing: 5px;
	font-weight: 900;
	padding: 20px 5%;
}

p {
	font-size: 14px;
	color: #333;
	line-height: 21px;
}

a {
	color: #93AB3C;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}

ul {
	list-style-type: none;
}

span {
	padding: 5px;
}

.bold-text {
	color: #59888D;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 2px;
}

.white-text {
	font-weight: bold;
	color: #fff;
	padding-top: 15px;
}

.blue-text {
	color: #27676C;
	font-size: 30px;
}

/* entry styling tags */
.education-entry,
.work-entry,
.project-entry {
	padding: 10px 5%;
}

/* image styling tags */
.biopic,
.project-image {
	border: 4px solid #27676C;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #59888D;
	max-width: 100%;
	max-height: 100%;
	padding: 10px;
}

.project-image ~ .project-image {
	display: none;
}

/* header */
.navbar h2 {
	height: 30px;
	padding-top: 0;
}

.first {
	align-items: flex-end;
	padding-top: 65px;
}

.title {
	flex-direction: column;
	text-align: center;
}

.right {
	flex-direction: column;
}

.biopic {
	max-width: 175px;
	max-height: 175px;
}

.welcome-message {
	font-style: italic;
	font-size: 18px;
	color: #27676C;
	line-height: 28px;
}

#skills-h3 {
	color: #27676C;
}

#header {
	background: #499635;
	background: linear-gradient(#499635, #9BB5B7);
	border-bottom: 5px solid #27676C;
}

.contact-box {
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}

hr {
	display: block;
	width: 95%;
	color: #27676C;
	border: 0;
	padding-top: 3px;
	border-bottom: 3px solid #27676C;
	box-shadow: 0 3px 5px #59888D;
}

/* main */
.main-right {
	justify-content: space-between;
}

.main-left {
	justify-content: flex-start;
}

.online-date {
	justify-content: flex-end;
}

.project-entry .main-right {
	flex-direction: column;
}

.project-entry {
	border-bottom: 3px solid #9BB5B7;
}

.date-text {
	font-style: italic;
	font-size: 14px;
	color: #999;
	line-height: 16px;
	float: left;
}

.location-text {
	font-style: italic;
	font-size: 14px;
	color: #999;
	line-height: 16px;
	float: right;
}

.url {
	justify-content: flex-start;
}

.light-blue {
	background-color: #ECF4F5;
	padding-bottom: 10px;
	margin-top: 20px;
	clear: both;
}

#map {
	display: block;
	height: 300px;
	margin: 0 5%;
}

#mapDiv {
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 5%;
}

/* footer */
.blue {
	background-color: #27676C;
	margin-top: 20px;
	height: 30px;
}

.blue h2 {
	padding: 0;
}

.green {
	background-color: #499635;
	background: linear-gradient(#9BB5B7, #499635);
	border-top: 5px solid #27676C;
	justify-content: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
	#lets-connect {
	margin-top: 5%;
	}
}

@media only screen and (max-width:900px) {
	.biopic {
	width: 100%;
	}
}

@media only screen and (max-width: 750px) {
	.contact-box {
	flex-direction: column;
	justify-content: center;
	}

	.title,
	.right,
	#projects .main-left,
	#projects .main-right {
	width: 100%;
	}

	.left,
	#skills-h3,
	.welcome-message {
	display: none;
	}

	#projects {
	flex-direction: column;
	justify-content: center;
	}

	.project-image {
	margin: auto;
	}

	.first {
	padding-top: 100px;
	}
}

@media only print {
	body {
	font-size: 12px;
	}

	h1 {
	font-size: 20px;
	}

	.first {
	padding-top: 0;
	}

	.blue-text,
	.white-text {
	font-size: 12px;
	}

	.title,
	.right,
	#workExperience,
	#education {
	width: 100%;
	margin: 0;
	}

	.title {
	flex-wrap: nowrap;
	}

	nav,
	#mapDiv,
	.left,
	#lets-connect,
	.biopic,
	#projects,
	#skills-h3,
	.welcome-message {
	display: none;
	}

	h2,
	h3,
	h4,
	h5 {
	font-size: 14px;
	padding: 10px;
	}
}