body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6
{
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix
{
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry
{
  padding: 0 5%;
}

h1
{
  font-size: 40px;
  color: #f5a734;
  line-height: 48px;
  display: inline;
}

h2
{
  font-weight: bold;
  font-size: 24px;
  color: #000;
  line-height: 29px;
  padding: 10px;
}

h3
{
  font-style: italic;
  font-size: 20px;
  color: #111;
  line-height: 22px;
}

h4
{
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5
{
  padding:10px 5%;

}


.date-text
{
  font-style: italic;
  font-size: 14px;
  color: #bbb;
  line-height: 16px;
  float: left;
}

.location-text
{
  font-style: italic;
  font-size: 14px;
  color: #bbb;
  line-height: 16px;
  float: right;
}

p
{
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a
{
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message
{
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3
{
  color: #f5ae23;
}

.orange
{
  background-color: #f5ae23;
}

.orange-text
{
  color: #f5ae23;
}

.white-text
{
  font-weight: bold;
  color: #fff;
}

.gray
{
  background-color: #e3e3e3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray
{
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header
{
  background-color: #848484;
}

.flex-box
{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content
{
  padding: 2.5% 5%;
}

ul
{
  list-style-type: none;
}

.biopic
{
  float: left;
  padding: 10px;
  width: 200px;
  margin-right: 25px;
}

.projectpic
{
  float: right;
  padding: 10px;
  width: 180px;
  height: 240px;
  margin-right: 25px;
}

img
{
  padding: 10px;
}

span
{
  padding: 5px;
}

#lets-connect
{
  text-align: center;
}

#skills
{
  list-style-type: disc;
}

#map
{
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv
{
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px)
{
  #lets-connect
  {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px)
{
  h3
  {
    font-size: 18px;
  }
  .biopic
  {
    width: 175px;
  }
}

@media only screen and (max-width: 750px)
{
  h3
  {
    font-size: 14px;
  }
  #lets-connect
  {
    margin-top: 10%;
  }
  .biopic, .projectpic
  {
    width: 150px;
    height: 225px;
    float: right;
  }
  .welcome-message, #headRule
  {
    display: none;
  }
  #skills-h3, .flex-box, #role
  {
    float: left;
    text-align: left;
  }
  #topContacts
  {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}

@media only screen and (max-width: 350px)
{
  h3
  {
    font-size: 12px;
  }
  .biopic, .projectpic
  {
    width: 120px;
    height: 180px;
    float: left;
  }
}