body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Poiret One", cursive;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #ffffff;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #ffffff;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #6B7A8F;
  line-height: 21px;
}

a {
  color: #fff;
  text-decoration: none;
  margin-top: 20%;

  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
}

#skills-h3 {
  color: #ffffff;
  display: none;
}

/*colors used for the website*/
.feather{
  background-color: #77C9D4;
}

.marine{
  background-color: #578C90;
}

.forest{
  background-color: #015249;
}

.sleekgrey{
  background-color: #A5A5AF;
}
.gold{
  color: #C5B358;
}

/* TODO: Replace with image later */
#header{
  height:8%;
  width:100%;
  display: -webkit-flex;
  display: flex;
  position:fixed;
  background-color:#fff;
  margin-bottom:10px;
  box-shadow: 0 2px 5px #D0D0D0;
}
#headerTitle{
  font-size:20px;
  padding-left: 40%;
  display: -webkit-flex;
  display: flex;
  padding-top:20px;
}
#myInfo {
  /*background-color: #F0FFFF;*/
  background: url(../images/cat.png);
  background-repeat: no-repeat;
  margin-top:40px;
  height: 400px;
  float: left;
  width: 60%;

}

.navElem{
  height: 25%;
}
.navElem:hover{

  background-image:url(../images/earth.jpg);
  background-color:#ddd;
  opacity: 0.6;


}

#navbarVert{
  text-align: center;
  height: 400px;
  width:20%;
  float: right;

  margin-top:50px;
  margin-right:0;
  margin-right:30px;
  vertical-align: middle;
}
.navElem{
  padding-top:5%;
  padding-bottom: 5%;
}
#workExpNav{

}
#topContacts{
  width:70%;
}


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul,
li{
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
