
*{
    padding:0;
    margin:0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

.clearfix {
  overflow: auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.education-entry, .onlineClasses-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

.project-entry {
  background-color: aliceblue;
}
.project-entry p {
  float:left;
}
.project-image {
  float: right;
  position: relative;
}

#projects, #education, #workExperience, #mapDiv
{
  padding-top: 10px;
}

.work-entry h4, .education-entry h4 {
  float: left;
  margin-bottom: 0px;
  margin-top: 0px;
}
.work-entry p, .education-entry p {
  margin-left: 5%;
}
h1 {
  font-family: 'Rock Salt', cursive, sans-serif;
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-family: 'Rock Salt', cursive, sans-serif;
  font-style: bold;
  font-size: 36px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
    text-shadow: 2px 2px black;
}

h3 {
  font-style: italic;
  font-size: 30px;
  color: #000000;
  line-height: 32px;
}

h4 {
  font-style: bold;
  font-size: 18px;
  color: #4A4A4A;
  line-height: 23px;
}

h2 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 18px;
  color: #999999;
  line-height: 23px;
  float: right;
  margin-left: 5%;

}

.location-text {
  font-style: italic;
  font-size: 18px;
  color: #999999;
  line-height: 23px;
  float: right;

}

p {
  font-size: 16px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
/*  display: block;
*/}

.welcome-message, .welcome-message p {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
  margin: 10px 0;
}

#skillsH3 {
  color: #F5AE23;
/*  display: none;
*/}

.orange {
  background-color: #F5AE23;
}

.orange-text {
  color: #F5AE23;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
#skills .flex-item span {
  /*background-color: aqua;*/
  border: 2px solid orange;
  padding: 10px 8px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 50px;
  margin-top: 30px
}
#skills .flex-item span:hover {
  background-color: orange;
  color: black;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

.top-Header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.body-Header {
  padding: 10px 20px;
}

#name {
  font-size: 60px;
}
ul {
  list-style-type: none;
}


.biopic {
  float: right;
  padding: 10px;
  margin-right: 20px;
  /*width: 300px;
  display: none;*/
}

img {
  padding: 10px;
}


/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message, .welcome-message p {
  font-size: 16px;
  line-height: 18px;
  }

  #topContacts {
    display: none;
  }
  #mapDiv {
    margin-bottom: 20%;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}