body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  color: gray;
}

h1 {
  font-size: 40px;
  color: #ffeb96;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #ffeb96;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #fff;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #345286;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #888;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #ffeb96;
}

.orange {
  background-color: #345286;
}

.orange-text {
  color: #ffeb96;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #343a3f;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #343a3f;
}

/* TODO: Replace with image later */
#header {
  background-image: url(http://www.zeldadungeon.net/images/uploads/19003/majoras-mask-3d-official-artwork-2__banner-auto-cropping.jpg);
  background-position:center;
}

#education{
  text-align: left;
}
.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
  color: #fff;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 0;
  }
  
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }

}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 0%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: block;
  }
}
#map {
  display: block;
  height: 100%;
  margin: 0% 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 10%;
}


@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
 
}
